header {
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #b0b0b0;
  padding: 0 20px;
  a {
    cursor: pointer;
  }

  .links {
    & > * {
      padding-right: 20px;
    }
  }
}
