.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .log-out {
    position: absolute;
    right: 40px;
    top: 7vh;
    color: #00000080;
    cursor: pointer;
    &:hover {
      color: black;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    & > * {
      display: flex;
      align-items: flex-start;
      gap: 3px;
      padding: 10px;
    }
  }
  .img-preview {
    position: relative;
    margin: 1em auto;
    width: 160px;
    height: 160px;
    background-size: cover;
    background-position: center center;
    border: 1px solid #fff;
    border-radius: 50%;
  }
  .p-container {
    display: flex;
    align-items: center;
    .bitcoin-img {
      width: 20px;
      height: 20px;
    }
  }
}
