<loading *ngIf="!contact"></loading>
<section class="contact-details-page" *ngIf="contact">
  <article>
    <img src="https://robohash.org/{{contact._id}}?set=set4" alt="">
    <p><b>Phone:</b> {{contact.phone}}</p>
    <p><b>Name:</b>{{contact.name}}</p>
    <p><b>Email:</b>{{contact.email}}</p>
  </article>
  <div class="btn-edit-container">
    <i routerLink="/contact" class="material-icons  back-btn">arrow_back_ios</i>
    <i (click)="onEdit()" class="material-icons edit-btn">edit</i>
  </div>
  <div>
    <transfer-fund (addMove)="addMove($event)" [currUserName]="contact.name"></transfer-fund>
    <moves-list [moves]="moves" title="Your moves:"></moves-list>
  </div>
</section>