<section class="app">
  <app-header></app-header>

  <main class="app-container">
    <router-outlet></router-outlet>
  </main>
</section>
<!-- <section class="app">
  <app-header></app-header>

  <div class="app-container">

    <contact-details-page *ngIf="selectedContactId; else contactList" [contactId]="selectedContactId"
      (onSelect)="selectedContactId=$event">
    </contact-details-page>
    <ng-template #contactList>
      <register></register>
      <statistic-page></statistic-page> -->
<!-- <app-home-page></app-home-page> -->
<!-- <contact-page (onSelect)="selectedContactId=$event"></contact-page> -->
<!-- </ng-template>
  </div>
</section>  -->