$material-design-icons-font-directory-path: "~material-design-icons-iconfont/dist/fonts/";

@import "~material-design-icons-iconfont/src/material-design-icons";

.photo-capture {
  .image-picker {
    cursor: pointer;
  }
  .upload-actions {
    display: flex;
    justify-content: flex-end;
    padding: 10px 5px;
  }

  .video-container {
    text-align: center;

    .camera,
    .preview {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
      margin-top: 10px;
    }

    .camera {
      transform: scaleX(-1);
      filter: FlipH;
    }

    .photo-capture-actions {
      margin: 27px 0 0 0;

      button {
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }
}

.none {
  display: none;
}
