input.ng-touched.ng-invalid {
  border-left: 5px solid red;
}

input.ng-valid[required] {
  border-left: 5px solid green;
}
.edit-screen {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  overflow: auto;
  z-index: 1;
  form {
    padding: 15px;
    max-height: 400px;
    max-width: 400px;
    position: fixed;
    background-color: rgb(250, 252, 250);
    border: #64504973;
    box-shadow: -3px 1px 28px #00000061;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    .back-btn {
      position: absolute;
      background: transparent;
      color: black;
      border: 0;
      opacity: 0.6;
      transition: 0.3s all;
      padding: 0;
      left: 15px;
      cursor: pointer;

      &:disabled {
        cursor: initial;
        opacity: 0.2;
      }

      &:hover:not(:disabled) {
        opacity: 1;
      }
    }

    h1 {
      text-align: center;
      margin-bottom: 30px;
    }

    .errors {
      color: red;
      margin-top: 0;
    }

    input,
    select {
      padding: 5px 8px;
    }
    input {
      border-radius: 4px;
      margin-bottom: 30px;
    }
  }
}
