<div class="register-container simple-form">
  <form (ngSubmit)="register()" class="form-register">
    <div class="capture-container" [class]="{show: isCameraVisible}">
      <photo-capture *ngIf="isCameraVisible" (onDone)="capturePhoto($event)"></photo-capture>
    </div>

    <div class="img-container">
      <div class="img-preview" [ngStyle]="{ 'background-image': 'url('+imgData+')' }" (click)="showCamera()">
        <i *ngIf="!isProcessing" class="material-icons btn-set-photo">camera_alt</i>
        <i *ngIf="isProcessing" class="material-icons btn-set-photo">check</i>
        <div *ngIf="isProcessing" class="background verify-image"></div>
      </div>
    </div>

    <div class="field">
      <label class="field-icon">
        <i class="material-icons">supervised_user_circle</i>
      </label>
      <input type="text" class="field-input" name="name" [(ngModel)]="user.name" placeholder="Name *">
    </div>

    <div class="field">
      <label class="field-icon">
        <i class="material-icons">password</i>
      </label>
      <input type="text" class="field-input" name="password" [(ngModel)]="user.password" placeholder="Password *">
    </div>

    <div class="footer">
      <button [disabled]="!isValid && isProcessing" type="submit" class="btn-identify">Verify Identity</button>
    </div>
  </form>
</div>